<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">draw.io Sharing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated || ViewBag.IsUserSignUp != null)
            {
                using (Html.BeginForm("SignOut", "User"))
                {
                    @Html.AntiForgeryToken()
                    <li class="nav-item active"><button type="submit" class="btn btn-link nav-link">Sign Out</button></li>
                }
            }
            else
            {
                <li class="nav-item active">
                    <a href="@Url.Action("SignUp", "User")" class="nav-link">Sign Up <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a href="@Url.Action("SignIn", "User")" class="nav-link">Sign In</a>
                </li>
            }

        </ul>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>
<style>
    .container { padding-top: 10px; }
    .validation-summary-errors { color: #f00; }
</style>
</body>
</html>