@model ITechArt.DrawIoSharing.WebApp.Models.SignUpModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "../Shared/_Layout.cshtml";
}

<h3 align="left">Sign Up</h3>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>

    <a href="@Url.Action("Index","Home")" class="btn">Cancel</a>
}